:root {
  --white-pure: #ffffff;
  --white-easy: rgba(255, 255, 255, 0.8);
  --white-light: rgba(255, 255, 255, 0.2);
  --white-border-1: rgba(255, 255, 255, 0.5);
  --white-border-2: rgba(255, 255, 255, 0.7);
  --white-border-3: #cacac7;
  --white-dirty: #f8f7f4;
  --green-light: #849d8f;
  --pink-light: rgba(255, 188, 158, 0.3);
  --pink-medium: #ffbc9e;
  --red-light: #f26843;
  --red-medium: #e74a35;
  --red-pure: rgb(255, 30, 0);
  --red-intense: #942718;
  --red-angry: #ac1000;
  --red-dirty: rgba(172, 16, 0, 0.64);
  --blue-pure: rgba(46, 136, 228, 0.52);
  --brown-light: #fbded7;
  --brown-medium: #f6b5a5;
  --brown-pure: #d07058;
  --gray-easy: rgba(50, 50, 50, 0.2);
  --gray-light: rgba(50, 50, 50, 0.3);
  --gray-medium: #999999;
  --gray-pure: #5a5a5a;
  --gray-dirty: rgba(178, 178, 178, 0.52);
  --gray-dirty-2: #ededed;
  --black-easy: rgba(0, 0, 0, 0.2);
  --black-light: #353535;
  --black-medium: #323232;
  --black-dirty: #696969;
}

/* --- GENERAL --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  color: var(--white-pure);
  background-color: var(--green-light);
}

header,
footer {
  min-width: 1200px;
  padding: 0 27px;
}

header {
  padding-top: 10px;
}

footer {
  padding-top: 18px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 35px;
  line-height: 1.17;
}

h2 {
  margin: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--black-medium);
}

h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
}

h4 {
  display: inline;

  border-bottom: 2px solid var(--black-light);

  font-size: 24px;
  line-height: 1.25;
  color: var(--black-medium);
}

h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
}

p {
  font-size: 16px;
  line-height: 1.37;
}

hr {
  margin: 0;
  margin-top: 10px;

  height: 1px;
  border: none;

  color: var(--white-light);
  background-color: var(--white-light);
}

a:not(.header-nav__link):not(.catalog__item):not(.footer-social__icon):hover,
a:not(.header-nav__link):not(.catalog__item):not(.footer-social__icon):active {
  border-color: var(--pink-light);

  color: var(--pink-medium);
}

.button {
  padding: 0;
  border: none;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--white-pure);
  background-color: var(--white-light);

  cursor: pointer;
}

.button--alt {
  border-radius: 70px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(
    180deg,
    var(--red-light) 0%,
    var(--red-medium) 100%
  );
  box-shadow: 0px 2px 2px var(--red-dirty);
}

.button--alt:hover {
  background: linear-gradient(0deg, var(--white-light), var(--white-light)),
    linear-gradient(180deg, var(--red-light) 0%, var(--red-medium) 100%);
  box-shadow: 0px 2px 2px var(--red-angry);
}

.button--alt:active {
  background: linear-gradient(
    180deg,
    var(--red-light) 0%,
    var(--red-medium) 100%
  );
  box-shadow: inset 0px 2px 2px var(--red-intense);
}

.button-cross {
  padding: 0;
  border: none;

  background-color: inherit;

  cursor: pointer;
}

input {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-dirty);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--black-medium);
}

input:link {
  border-width: 2px;
}

input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--gray-medium);
}

input:focus {
  border: 2px solid var(--blue-pure);
}

img,
svg {
  vertical-align: middle;
}

.hide,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- // GENERAL --- */

/* --- HEADER --- */

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-row + .header-row {
  margin-top: 2px;
}

.header-row a {
  text-decoration: none;
}

.header-nav {
  align-self: stretch;
  flex-grow: 1;
}

.header-nav ul {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  flex-wrap: wrap;

  height: 100%;
  margin: 0;
  padding: 0;
}

.header-nav li {
  line-height: 32px;
  margin-right: 32px;
}

.header-nav li:last-child {
  margin-right: 0;
}

.header-nav__catalog {
  position: relative;

  margin-left: 24px;
}

.header-nav__catalog.main {
  margin-right: 19px;
  margin-left: 11px;
}

.header-nav li:first-child:hover {
  margin-right: 19px;
  margin-left: 11px;
}

.header-nav li:not(:first-child):not(:last-child):hover {
  margin-right: 6px;
}

.header-nav .button,
.header-nav__link {
  border-bottom: 1px solid var(--white-light);

  font-size: 16px;
  font-weight: 700;
  color: var(--white-pure);
  background-color: inherit;
}

.header-nav .button.active,
.header-nav__link.active {
  width: max-content;
  border-radius: 26px;
  border-bottom: none;

  color: var(--white-pure);
  background-color: var(--brown-pure);
}

.header-nav li:first-child:hover .button,
.header-nav li:not(:first-child):hover .header-nav__link {
  width: max-content;
  border-radius: 26px;
  border-bottom: none;

  color: var(--black-medium);
  background-color: var(--white-pure);
}

.header-nav li:first-child:hover .button,
.header-nav .button.active {
  padding: 0px 13px;

  line-height: 32px;
}

.header-nav li:not(:first-child):hover .header-nav__link,
.header-nav__link.active {
  padding: 6px 13px;

  line-height: 1;
}

.header-nav li:first-child:active .button,
.header-nav li:not(:first-child):active .header-nav__link {
  background-color: var(--gray-dirty-2);
  box-shadow: inset 0px 2px 1px var(--black-dirty);
}

.header-nav li:not(:first-child):hover {
  position: relative;
  left: -13px;
}

.header-nav li:not(:first-child):hover .header-nav__link {
  color: var(--black-medium);
}

.catalog__dropdown a {
  display: block;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--black-medium);
}

.catalog__dropdown a:hover {
  background-color: var(--brown-light);
}

.catalog__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-6px, 10px);

  width: 144px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--gray-light);
  border-radius: 4px;

  background-color: var(--white-pure);

  z-index: 1;
}

.header-nav__catalog:hover .catalog__dropdown {
  display: flex;
  flex-direction: column;
}

.catalog__dropdown a {
  margin-bottom: 2px;
  padding-left: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.93;
  color: var(--black-medium);
}

.catalog__dropdown a:hover {
  background-color: var(--brown-light);
}

.catalog__dropdown a:active {
  background-color: var(--brown-medium);
}

.catalog__dropdown a:first-of-type {
  font-weight: 700;
}

.catalog__dropdown hr {
  position: relative;
  width: 128px;
  left: 6px;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 4px;

  color: var(--gray-easy);
  background-color: var(--gray-easy);
}

.catalog__dropdown a:first-of-type {
  font-weight: 700;
}

.header-nav__catalog:hover .catalog__dropdown {
  display: block;
}

.header-buttons {
  display: flex;

  height: 32px;
}

.header-buttons > div:not(:last-of-type) {
  margin-right: 10px;
}

.header-buttons .button {
  width: max-content;
  height: 32px;
  padding: 0 16px;
  border-radius: 20px;

  line-height: 32px;
}

.header-buttons .button--alt {
  height: 44px;
  padding: 0 25px;

  line-height: 44;
}

.header-buttons .popup-basket .button--alt {
  padding: 0 15px;

  line-height: 44px;
  color: var(--white-pure);
}

.header-buttons .button.empty {
  padding: 0 8px;
}

.header-buttons > div {
  position: relative;
}

.header-buttons > div:hover .popup {
  display: block;
}

.header-buttons > div:hover .button:not(.button--alt) {
  color: var(--black-medium);
  background-color: var(--white-pure);
}

.header-buttons .button > span {
  margin: 0;
  margin-left: 8px;
}

.entrance__row .button--alt {
  line-height: 0.89;
}

.header-buttons__entrance ul {
  padding: 0;
}

.entrance__link {
  border-bottom: 1px solid var(--gray-light);

  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
  color: var(--black-medium);
}

.popup {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(4px);

  padding: 20px 15px;
  border-radius: 4px;

  background-color: var(--white-dirty);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.popup input {
  padding: 0;
  padding-left: 15px;

  vertical-align: middle;
}

.popup-search {
  width: 341px;
}

.popup-entrance {
  width: 277px;
}

.popup-entrance input {
  margin-bottom: 20px;
}

.entrance__row {
  display: flex;
  justify-content: space-around;
}

.popup-entrance ul {
  margin: 0;
}

.popup-basket {
  width: 539px;
  padding-top: 0;

  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: var(--black-medium);
}

.popup-basket hr {
  margin-top: 0;

  color: var(--white-border-3);
  background-color: var(--white-border-3);
}

.basket__table {
  width: 100%;
  border-spacing: 0 20px;
}

.basket__table tr:not(:last-child) {
  margin-bottom: 20px;
}

.basket__table td:first-child {
  padding-left: 5px;
  padding-right: 9px;
}

.basket__table td:nth-child(2) {
  padding-right: 13px;
}

.basket__table td:nth-child(3) {
  width: 250px;
  padding-right: 30px;
}

.basket__table td:nth-child(4) {
  padding-right: 5px;
}

.basket__table td span {
  margin: 0;
}

.popup-basket span {
  color: var(--gray-light);
}

.popup-basket p {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.07;
  text-align: right;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts p {
  margin: 0;
}

.header-contacts .header-contacts__time {
  margin-bottom: 8px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: right;
}

.header-contacts__phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}

/* --- // HEADER --- */

/* --- CATALOG-HEADER --- */

.header-path__link {
  border-bottom: 1px solid var(--white-light);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--white-pure);
}

.header-path__link-wrapper,
.header-path h5 {
  display: inline-block;
}

.header-row span {
  margin: 0 8px;
}

/* --- // CATALOG-HEADER --- */

/* --- PROFIT-OFFER --- */

.index-content__profit-offer {
  display: flex;
  flex-direction: column;

  padding: 16px 22px 22px 16px;
  border-radius: 16px;

  background-repeat: no-repeat;
}

.raspberry {
  background-image: url(../img/raspberry-bg.png);
}

.chocolate {
  background-image: url(../img/chocolate-bg.png);
}

.index-content__profit-offer p {
  flex-grow: 1;

  margin: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}

.index-content__profit-offer h3 {
  margin: 0;
  margin-bottom: 16px;
}

.index-content__profit-offer .button--alt {
  align-self: flex-end;

  padding: 0 22px;

  line-height: 48px;
}

/* --- // PROFIT-OFFER --- */

/* --- ABOUT-SHOP --- */

.index-content__shop-desc {
  width: 100%;
  margin-bottom: 40px;
  padding: 24px 21px 36px;
  border-radius: 16px;

  color: var(--black-medium);

  background-image: url(../img/waffle-bg.png);
}

.shop-desc__block-wrapper {
  display: grid;
  grid-template-columns: 540px 540px;
  column-gap: 26px;
  row-gap: 19px;

  margin-top: 7px;
}

.shop-desc__block {
  display: flex;

  font-weight: 400;
}

.shop-desc__block p {
  margin: 0;
  margin-top: 14px;
  margin-left: 6px;
}

/* --- // ABOUT-SHOP --- */

/* --- ADDITIONAL-CONTENT --- */

.index-content__row {
  display: grid;
  grid-template-columns: 560px 560px;
  grid-template-rows: 220px;
  gap: 26px;

  padding-bottom: 40px;
}

.index-content__new-item {
  padding: 23px 253px 70px 20px;
  border-radius: 16px;

  background-image: url(../img/strawberry-bg.png);
  background-repeat: no-repeat;
}

.index-content__new-item p {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 500;
}

.index-content__new-item a {
  color: inherit;
  text-decoration: none;
}

.index-content__subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 34px 22px 40px 26px;
  border-radius: 16px;

  font-weight: 400;
  background-color: var(--white-dirty);
}

.index-content__subscription p {
  margin: 0;

  color: var(--gray-pure);
}

.index-content__subscription .button--alt {
  line-height: 1.33;
}

.index-content__subscription form {
  display: flex;
}

.index-content__subscription input {
  flex-grow: 1;

  height: 44px;
  margin-right: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
}

.index-content__subscription button {
  padding: 0 19px;

  line-height: 44px;
}

/* --- // ADDITIONAL-CONTENT --- */

/* --- MAP --- */

.map-holder__about-office p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
}

.map-holder__about-office span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.14;
}

/* --- // MAP --- */

/* --- CATALOG-CONTENT --- */

.catalog-content__products ul {
  display: grid;
  grid-template-columns: 293px 293px 293px 293px;
  row-gap: 13px;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-content__products li {
  padding: 6px 13px 20px;
  border-radius: 4px;
}

.catalog-content__products li:hover {
  background-color: var(--white-light);
  box-shadow: 0px 20px 20px var(--black-easy);
}

.products__price {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
}

.products__price span {
  font-size: 45px;
  line-height: 1;
}

.products__desc {
  display: inline-block;

  margin: 0;
  margin-top: 17px;

  font-weight: 500;
  text-align: center;
}

.products__desc a {
  border-bottom: 1px solid var(--white-light);

  color: var(--white-pure);
  text-decoration: none;
}

.catalog-content h1 {
  margin: 0;
  margin-bottom: 29px;
}

/* --- // CATALOG-CONTENT --- */

/* --- FOOTER --- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
}

.footer-social a {
  display: inline-block;

  margin-right: 12px;
  border: 2px solid var(--white-border-1);
  border-radius: 50%;

  color: var(--white-easy);
}

.footer-social a:hover {
  border: 2px solid var(--white-border-1);

  color: var(--white-pure);
}

.footer-social a:active {
  border: 2px solid var(--white-border-2);

  color: var(--white-pure);
}

.footer-social a:last-of-type {
  margin-right: 0;
}

.footer-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  padding-right: 32px;
}

.heart {
  position: relative;
}

.heart::before {
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
  content: "";

  width: 15px;
  height: 13px;

  background-image: url(../img/icons/heart.svg);
  background-color: inherit;
  background-repeat: no-repeat;
}

.footer-nav ul:last-child {
  padding-right: 0;
}

.footer-nav li {
  margin-bottom: 11px;
}

.footer-nav li:last-child {
  margin-bottom: 0;
}

.footer-nav__link {
  border-bottom: 1px solid var(--white-light);

  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  color: var(--white-pure);
}

.footer-nav a:first-of-type {
  font-weight: 700;
}

.footer-creator__desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-creator__desc a {
  border-bottom: 1px solid var(--white-light);

  color: var(--white-pure);
}

/* --- // FOOTER --- */

.feedback__popup {
  position: relative;

  width: 477px;
  padding: 20px 25px 27px;
  border-radius: 6px;

  background-color: var(--white-dirty);
}

.feedback__popup h2 {
  margin-bottom: 26px;

  line-height: 1.17;
}

.feedback__popup input {
  margin-bottom: 20px;
}

.feedback__popup form {
  margin: 0;
}

.feedback__popup input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.feedback__popup .button--alt {
  padding: 0 24px;

  line-height: 44px;
}

.feedback__popup .button-cross {
  position: absolute;
  top: 15px;
  right: 15px;
}

textarea {
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-dirty);

  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--black-medium);
}

textarea::placeholder {
  font-weight: 400;
  color: var(--gray-medium);
}
