:root {
  --white-pure: #ffffff;
  --white-easy: rgba(255, 255, 255, 0.8);
  --white-light: rgba(255, 255, 255, 0.2);
  --white-border-1: rgba(255, 255, 255, 0.5);
  --white-border-2: rgba(255, 255, 255, 0.7);
  --white-border-3: #cacac7;
  --white-dirty: #f8f7f4;
  --white-dirty-2: #fefefe;
  --white-dirty-3: rgba(248, 247, 244, 0.5);
  --green-light: #849d8f;
  --pink-light: rgba(255, 188, 158, 0.3);
  --pink-medium: #ffbc9e;
  --red-light: #f26843;
  --red-medium: #e74a35;
  --red-pure: rgb(255, 30, 0);
  --red-intense: #942718;
  --red-angry: #ac1000;
  --red-dirty: rgba(172, 16, 0, 0.64);
  --blue-pure: rgba(46, 136, 228, 0.52);
  --blue-gray: #8996a6;
  --brown-light: #fbded7;
  --brown-medium: #f6b5a5;
  --brown-pure: #d07058;
  --brown-gray: #9d8b84;
  --gray-easy: rgba(50, 50, 50, 0.2);
  --gray-light: rgba(50, 50, 50, 0.3);
  --gray-medium: #999999;
  --gray-pure: #5a5a5a;
  --gray-dirty: rgba(178, 178, 178, 0.52);
  --gray-dirty-2: #ededed;
  --black-easy: rgba(0, 0, 0, 0.2);
  --black-light: #353535;
  --black-medium: #323232;
  --black-dirty: #696969;
  --dark: rgba(0, 0, 0, 0.3);
  --sliderback-1: rgba(215, 242, 227, 0.75);
  --sliderback-2: rgba(218, 228, 239, 0.75);
  --sliderback-3: rgba(239, 224, 218, 0.75);
}

/* --- GENERAL --- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  color: var(--white-pure);
}

.body__wrapper-green {
  background-color: var(--green-light);
}

.body__wrapper-blue-gray {
  background-color: var(--blue-gray);
}

.body__wrapper-brown-gray {
  background-color: var(--brown-gray);
}

header,
footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

header {
  padding-top: 7px;
}

footer {
  padding-top: 15px;
  padding-bottom: 25px;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 35px;
  line-height: 1.07;
}

h2 {
  margin: 0;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: var(--black-medium);
}

h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
}

h4 {
  display: inline;

  font-size: 24px;
  line-height: 1.25;
  color: var(--black-medium);
  text-decoration: underline;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

p {
  font-size: 16px;
  line-height: 1.37;
}

hr {
  margin: 0;
  margin-top: 30px;

  height: 1px;
  border: none;

  color: var(--white-light);
  background-color: var(--white-light);
}

a {
  text-decoration: none;
}

.base:hover,
.base:active {
  border-color: var(--pink-light);

  color: var(--pink-medium);
}

.button {
  padding: 0;
  border: none;

  font-family: "Roboto", "Arial" sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--white-pure);
  background-color: var(--white-light);

  cursor: pointer;
}

.button--alt {
  border-radius: 70px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(
    180deg,
    var(--red-light) 0%,
    var(--red-medium) 100%
  );
  box-shadow: 0px 2px 2px var(--red-dirty);
}

.button--alt:hover {
  background: linear-gradient(0deg, var(--white-light), var(--white-light)),
    linear-gradient(180deg, var(--red-light) 0%, var(--red-medium) 100%);
  box-shadow: 0px 2px 2px var(--red-angry);
}

.button--alt:active {
  background: linear-gradient(
    180deg,
    var(--red-light) 0%,
    var(--red-medium) 100%
  );
  box-shadow: inset 0px 2px 2px var(--red-intense);
}

.button-cross {
  padding: 0;
  border: none;

  background-color: inherit;

  cursor: pointer;
}

input {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-dirty);
  outline: none;

  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  color: var(--black-medium);

  /* box-sizing: border-box; */
}

input:link {
  border-width: 2px;
}

input::placeholder {
  font-size: 14px;
  font-weight: 400;
  height: 44px;
  line-height: 44px;
  color: var(--gray-medium);
}

input:focus::-moz-placeholder,
input:focus:-moz-placeholder {
  line-height: 42px;
}

input:focus,
textarea:focus {
  border: 2px solid var(--blue-pure);
  outline: none;
  padding-left: 14px;
}

textarea:focus {
  padding-top: 14px;
}

.index-content__subscription input:focus {
  border: 2px solid var(--blue-pure);
  padding-left: 13px;
  outline: none;
}

img,
svg {
  vertical-align: middle;
}

.hide,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- // GENERAL --- */

/* --------- HEADER --------- */

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-row + .header-row {
  margin-top: 3px;
}

.header-row a {
  text-decoration: none;
}

.logo {
  margin-top: 3px;
}

/* --- HEADER-NAV --- */

.header-nav {
  align-self: stretch;
  flex-grow: 1;
  margin-right: 10px;
}

.header-nav > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  height: 100%;
  margin: 0;
  padding: 0;
}

.header-nav__catalog {
  position: relative;

  margin-left: 8px;
}

.header-nav__link span {
  border-bottom: 1px solid var(--white-light);
  margin: 0;
}

.header-nav__link {
  padding: 6px 16px;
  border-radius: 26px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: var(--white-pure);
  background-color: transparent;
}

.header-nav__catalog.main .header-nav__link {
  background-color: var(--brown-pure);
}

.header-nav__catalog.main .header-nav__link:hover,
.header-nav__catalog.main .header-nav__link:active {
  color: inherit;
  box-shadow: inherit;
}

.header-nav__link:hover {
  color: var(--black-medium);
  background-color: var(--white-pure);
}

.header-nav__link:active {
  color: var(--black-medium);
  box-shadow: inset 0px 2px 1px var(--black-dirty);
  background-color: var(--white-pure);
}

.header-nav__link:active .header-nav__link.active span {
  border-bottom: none;
}

.catalog__dropdown a:hover {
  background-color: var(--brown-light);
}

.catalog__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-6px, 10px);

  width: 144px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid var(--gray-light);
  border-radius: 4px;

  background-color: var(--white-pure);

  z-index: 1;
}

.catalog__dropdown::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;

  width: 144px;
  height: 8px;

  background-color: none;
}

.header-nav__catalog:hover .catalog__dropdown {
  display: flex;
  flex-direction: column;
}

.catalog__dropdown a {
  display: block;

  margin-bottom: 2px;
  padding-left: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.93;
  color: var(--black-medium);
}

.catalog__dropdown a:hover {
  background-color: var(--brown-light);
}

.catalog__dropdown a:active {
  background-color: var(--brown-medium);
}

.catalog__dropdown a:first-of-type {
  font-weight: 700;
}

.catalog__dropdown hr {
  position: relative;
  width: 128px;
  left: 6px;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 4px;

  color: var(--gray-easy);
  background-color: var(--gray-easy);
}

.catalog__dropdown a:first-of-type {
  font-weight: 700;
}

.header-nav__catalog:hover .catalog__dropdown {
  display: block;
}

/* --- // HEADER-NAV --- */

/* --- HEADER-BUTTONS --- */

.header-buttons {
  display: flex;

  height: 32px;
}

.header-buttons > div:not(:last-of-type) {
  margin-right: 9px;
}

.header-buttons .button {
  width: max-content;
  padding: 0 15px;
  border-radius: 20px;

  line-height: 32px;
  vertical-align: middle;
}

.header-buttons .button--alt {
  height: 44px;
  padding: 0 25px;
}

.header-buttons__basket.non-empty .button {
  color: var(--black-medium);
  background-color: var(--white-pure);
}

.header-buttons .popup-basket .button--alt {
  padding: 0 15px;

  line-height: 44px;
  color: var(--white-pure);
}

.header-buttons .button.non-fill {
  padding: 0 8px;
}

.header-buttons > div {
  position: relative;
}

.header-buttons > div:not(.header-buttons__basket):hover .popup,
.header-buttons > .header-buttons__basket.non-empty:hover .popup {
  display: block;
}

.header-buttons > div:hover .button:not(.button--alt) {
  color: var(--black-medium);
  background-color: var(--white-pure);
}

.header-buttons .button > span {
  margin: 0;
  margin-left: 7px;

  vertical-align: middle;
}

.entrance__row .button--alt {
  line-height: 44px;
}

.header-buttons__entrance ul {
  padding: 0;
}

.header-buttons__entrance li {
  line-height: 1;
}

.header-buttons__entrance li:not(:last-of-type) {
  margin-bottom: 8px;
}

.entrance__link {
  border-bottom: 1px solid var(--gray-light);

  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
  color: var(--black-medium);
}

.popup {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(4px);

  padding: 20px 15px;
  border-radius: 4px;

  background-color: var(--white-dirty);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);

  z-index: 10;
}

.popup::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;

  width: 110px;
  height: 8px;

  background-color: none;
}

.popup input {
  /* padding: 0; */
  /* padding-left: 15px; */

  vertical-align: middle;
}

.popup-search {
  width: 341px;
}

.popup-entrance {
  width: 277px;
}

.popup-entrance input {
  margin-bottom: 20px;
}

.entrance__row {
  display: flex;
  justify-content: space-around;
}

.popup-entrance ul {
  margin: 0;
}

.popup-basket {
  width: 539px;
  padding-top: 0;

  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: var(--black-medium);
}

.popup-basket hr {
  margin-top: 0;

  color: var(--white-border-3);
  background-color: var(--white-border-3);
}

.basket__table {
  width: 100%;
  border-spacing: 0 20px;
}

.basket__table tr:not(:last-child) {
  margin-bottom: 20px;
}

.basket__table td:first-child {
  padding-left: 5px;
  padding-right: 9px;
}

.basket__table td:nth-child(2) {
  padding-right: 13px;
}

.basket__table td:nth-child(3) {
  width: 250px;
  padding-right: 30px;
}

.basket__table td:nth-child(4) {
  padding-right: 5px;
}

.basket__table td span {
  margin: 0;
}

.popup-basket span {
  color: var(--gray-light);
}

.popup-basket p {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.07;
  text-align: right;
}

.popup-basket .button--alt {
  float: right;
}

/* --- // HEADER-BUTTONS --- */

.header-contacts {
  margin-left: auto;
}

.header-contacts p {
  margin: 0;
}

.header-contacts .header-contacts__time {
  margin-bottom: 9px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: right;
}

.header-contacts__phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}

/* --- CATALOG-HEADER --- */

.header-path {
  margin-top: 13px;
}

.header-row .header-path span {
  margin-left: 8px;
  margin-right: 3px;
}

.header-path__link {
  border-bottom: 1px solid var(--white-light);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--white-pure);
}

.header-path__link-wrapper,
.header-path h5 {
  display: inline-block;
}

.header-path h5 {
  margin: 0;
}

.header-path span {
  margin: 0 8px;
}

/* --- // CATALOG-HEADER --- */

/* --------- // HEADER --------- */

/* --------- INDEX-CONTENT --------- */

/* --- GENERAL-OFFER --- */

.index-content__general-offer {
  position: relative;
  height: 524px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.index-content__general-offer ul {
  margin: 0;
  padding-left: 0;
}

.index-content__general-offer h1 {
  width: 672px;
  margin: 0;
  margin-top: 275px;
  margin-bottom: 27px;

  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}

.index-content__general-offer .button--alt {
  padding: 10px 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.slider-list {
  position: relative;
  display: inline-block;
  text-align: center;
}

.slide {
  display: none;
}

.slider-item.slide::before {
  position: absolute;
  content: "";
  top: -123px;
  left: 50%;
  transform: translateX(-50%);
  width: 716px;
  height: 716px;
  z-index: -3;
  filter: blur(250px);
}

.slider-item.slide:first-child::before {
  background: var(--sliderback-1);
}

.slider-item.slide:nth-child(2)::before {
  background: var(--sliderback-2);
}

.slider-item.slide:nth-child(3)::before {
  background: var(--sliderback-3);
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 441px;
  left: 0;
}

.general-offer__ice-cream-wrapper {
  width: 647px;

  height: inherit;
  margin: 0 auto;
}

.general-offer__ice-cream.left {
  position: absolute;
  top: -40px;
  left: 13px;
  z-index: -1;
}

.general-offer__ice-cream.right {
  position: absolute;
  top: 3px;
  right: 11px;
  z-index: -2;
}

.slider-controls button {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid var(--white-pure);
  background-color: inherit;
}

.slider-controls button:not(.current):hover {
  background-color: var(--white-light);
}

.slider-controls button:not(.current):active {
  background-color: var(--white-pure);
}

.slider-controls button:not(:last-child) {
  margin-right: 8px;
}

.slider-controls button.current {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--white-pure);
}

/* --- // GENERAL-OFFER --- */

/* --- PROFIT-OFFER --- */

.index-content__row {
  display: grid;
  grid-template-columns: 560px 560px;
  grid-template-rows: 230px;
  gap: 26px;
}

.index-content__row.profit {
  grid-template-rows: 230px;
  padding-bottom: 34px;
}

.index-content__profit-offer {
  display: flex;
  flex-direction: column;

  padding: 16px 22px 22px 16px;
  border-radius: 16px;

  background-repeat: no-repeat;
}

.raspberry {
  background-image: url(../img/raspberry-bg.png);
}

.chocolate {
  background-image: url(../img/chocolate-bg.png);
}

.index-content__profit-offer p {
  flex-grow: 1;

  margin: 0;
  margin-bottom: 40px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}

.index-content__profit-offer h3 {
  margin: 0;
  margin-bottom: 17px;
}

.index-content__profit-offer .button--alt {
  align-self: flex-end;

  padding: 0 22px;

  line-height: 48px;
}

/* --- // PROFIT-OFFER --- */

/* --- ABOUT-SHOP --- */

.index-content__shop-desc {
  width: 100%;
  margin-top: 27px;
  margin-bottom: 40px;
  padding: 24px 21px 31px;
  border-radius: 16px;

  color: var(--black-medium);

  background-image: url(../img/waffle-bg.png);
}

.shop-desc__block-wrapper {
  display: grid;
  grid-template-columns: 540px 540px;
  column-gap: 25px;
  row-gap: 11px;

  margin-top: 7px;
}

.shop-desc__block {
  display: flex;

  font-weight: 400;
}

.shop-desc__block p {
  margin: 0;
  margin-top: 10px;
  margin-left: 6px;
}

/* --- // ABOUT-SHOP --- */

/* --- ADDITIONAL-CONTENT --- */

.index-content__row.additional {
  grid-template-rows: 220px;
  padding-bottom: 41px;
}

.index-content__new-item {
  padding: 18px 253px 70px 20px;
  border-radius: 16px;

  color: var(--black-medium);

  background-image: url(../img/strawberry-bg.png);
  background-repeat: no-repeat;
}

.index-content__new-item p {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 500;
}

.index-content__new-item a {
  color: inherit;
  text-decoration: none;
}

.index-content__subscription-wrapper {
  border-radius: 16px;
  padding: 6px;
  background-image: url(../img/post-bg.png);
}

.index-content__subscription {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 24px 20px 35px;
  border-radius: 16px;

  font-weight: 400;
  background-color: var(--white-dirty);
}

.index-content__subscription p {
  margin: 0;

  color: var(--gray-pure);
}

.index-content__subscription .button--alt {
  line-height: 1.33;
}

.index-content__subscription form {
  display: flex;
}

.index-content__subscription input {
  flex-grow: 1;

  height: 44px;
  margin-right: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
}

/* #subscription-input{
  flex-grow: 1;

  height: 44px;
  margin-right: 10px;
  padding-left: 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
} */

.index-content__subscription button {
  padding: 0 19px;

  line-height: 44px;
}

/* --- // ADDITIONAL-CONTENT --- */

/* --- MAP --- */

.row {
  position: relative;
  width: 100%;
}

.row iframe {
  width: 1200px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.index-content__map-holder img {
  position: absolute;
}

.map-holder__about-office {
  position: absolute;
  top: 62px;
  right: 27px;
  width: 303px;
  padding: 29px 25px 41px;
  border-radius: 16px;

  color: var(--black-medium);
  background-color: var(--white-dirty-2);
}

.map-holder__about-office p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.map-holder__about-office p:first-of-type {
  margin-bottom: 23px;
}

.map-holder__about-office p:last-of-type {
  margin-bottom: 44px;
}

.map-holder__about-office span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
}

.map-holder__about-office .button--fb {
  padding: 13px 28px;

  line-height: 1;
  height: 43px;
}

/* --- // MAP --- */

/* --------- // INDEX-CONTENT --------- */

/* --------- CATALOG-CONTENT-FILTER --------- */

.catalog-content__filter {
  margin-bottom: 33px;
}

.filter__row {
  display: flex;
  margin-bottom: 12px;
}

.filter__row:last-child {
  margin-bottom: 0;
}

.filter__box {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  border: none;
}

.box__heading {
  display: inline-flex;

  margin-left: 16px;
  margin-bottom: 9px;
}

.box__heading h5 {
  height: 16px;
  margin: 0;
  padding-top: 2px;
}

.box__value {
  height: 36px;
  border-radius: 20px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  color: var(--white-pure);
}

.box__line-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
}

.box__option {
  display: inline-flex;
  align-items: center;
}

/* --- BOX-SORT VALUE-SORT --- */

.value-sort {
  position: relative;
  width: 196px;
  cursor: pointer;
}

.value-sort::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 13px;
  width: 11px;
  height: 10px;
  background-image: url(../img/icons/select-arrow.svg);
  background-repeat: no-repeat;
  pointer-events: none;
}

.value-sort:hover::after {
  background-image: url(../img/icons/icon-down-dir.svg);
}

.box-sort__options {
  position: relative;
  display: block;

  width: 100%;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: inherit;
  background-color: var(--white-light);

  cursor: pointer;
}

.box-sort__options option {
  color: var(--black-medium);
}

.box-sort__options:hover {
  color: var(--black-medium);
}

/* --- // BOX-SORT VALUE-SORT --- */

/* --- BOX-PRICE HEADING --- */

.box-price__number {
  height: 16px;
  margin-left: 4px;
  display: flex;
}

.max-price {
  position: relative;
  margin-left: 16px;
}

.max-price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-11px);
  height: 2px;
  width: 7px;
  background-color: #fff;
}

.box-price__number input {
  padding: 0;
  width: 28px;
  height: 16px;
  border: none;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  color: inherit;

  background-color: inherit;

  -moz-appearance: textfield;
}

.box-price__number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* --- // BOX-PRICE HEADING --- */

/* --- BOX-VALUE VALUE-PRICE --- */

.value-price {
  width: 218px;
  padding: 18px 21px;
  background-color: var(--white-light);
}

.box-price__main-line {
  position: relative;

  height: 2px;

  background-color: var(--white-dirty-3);
}

.active-line {
  width: 55%;
  height: 2px;
  margin-left: 12%;

  background-color: var(--white-dirty);
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-9px);

  width: 20px;
  height: 20px;

  background-image: url(../img/icons/filter-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toggle-min {
  left: 12%;
}

.toggle-max {
  left: 60%;
}

/* --- // BOX-VALUE VALUE-PRICE --- */

/* --- BOX-SORT VALUE-FAT --- */

.value-fat {
  width: 425px;
  padding: 7px 14px;

  background-color: var(--white-light);
}

.real-radio {
  width: 0;
  height: 0;

  display: none;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  opacity: 0.8;

  background-image: url(../img/icons/radio-off.svg);
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
}

.custom-radio:hover {
  opacity: 1;
}

.custom-radio::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;

  background-image: url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.real-radio:checked + .custom-radio::before {
  display: block;
}

.real-radio:disabled + .custom-radio {
  opacity: 0.4;
}

.box__line-wrapper li:not(:first-of-type) .custom-radio {
  margin-left: 19px;
  margin-right: 11px;
}

.box__line-wrapper li:first-of-type .custom-radio {
  margin-right: 11px;
}

.box__line-wrapper li {
  height: 22px;
}

/* --- // BOX-SORT VALUE-FAT --- */

/* --- BOX-SORT VALUE-EXTENDER --- */

.value-extender {
  width: 711px;
  padding: 8px 16px;

  background-color: var(--white-light);
}

.real-checkbox {
  width: 0;
  height: 0;
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.8;

  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: contain;

  cursor: pointer;
}

.custom-checkbox:hover {
  opacity: 1;
}

.real-checkbox:disabled + .custom-checkbox {
  opacity: 0.4;
}

.real-checkbox:checked + .custom-checkbox {
  width: 24px;
  height: 20px;
  background-image: url(../img/icons/checkbox-on.svg);
}

.box__line-wrapper li:not(:first-of-type) .custom-checkbox {
  margin-left: 20px;
  margin-right: 12px;
}

.box__line-wrapper li:first-of-type .custom-checkbox {
  margin-right: 12px;
}

.box__line-wrapper li .real-checkbox:checked + .custom-checkbox {
  margin-right: 8px;
}

.box__line-wrapper li {
  height: 20px;
}

/* --- // BOX-SORT VALUE-EXTENDER --- */

.catalog-content__filter .button {
  align-self: flex-end;
  height: 36px;
  padding: 0 29px;
  border: 2px solid var(--white-pure);
  border-radius: 20px;
  font-size: 16px;
  line-height: 32px;
}

.catalog-content__filter .button:hover {
  border: none;
  color: var(--black-medium);
  background-color: var(--white-pure);
}

.catalog-content__filter .button:active {
  border: none;
  color: var(--black-medium);
  background-color: var(--white-pure);
  box-shadow: inset 0px 2px 1px var(--black-dirty);
}

/* --------- // CATALOG-CONTENT-FILTER --------- */

/* --------- CATALOG-CONTENT --------- */

.catalog-content__products {
  margin-bottom: 18px;
  width: 1172px;
  margin: 0 auto;
}

.catalog-content__products ul {
  display: grid;
  grid-template-columns: 293px 293px 293px 293px;
  grid-template-rows: 343px;
  grid-auto-rows: 343px;
  row-gap: 13px;

  margin: 0;
  padding: 0;
}

.catalog-content__products li {
  padding-top: 6px;
  padding-bottom: 20px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 4px;
}

.catalog-content__products li {
  padding-left: 13px;
  padding-right: 13px;
}

.catalog-content__products li:hover {
  background-color: var(--white-light);
  box-shadow: 0px 20px 20px var(--black-easy);
  height: 402px;
  z-index: 1;
}

.catalog-content__products li:hover .button--alt {
  display: block;
}

.products__wrapper {
  position: relative;
}

.products__hit {
  position: absolute;
  top: 0;
  left: 0;
}

.products__price {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 210px;
  left: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
}

.products__price span {
  font-size: 45px;
  line-height: 1;
  margin-right: 10px;
}

.products__desc {
  display: inline-block;

  margin: 0;
  margin-top: 12px;

  font-weight: 500;
  text-align: center;
}

.products__desc > a {
  border-bottom: 1px solid var(--white-light);

  color: var(--white-pure);
  text-decoration: none;
}

.products__desc > a:hover {
  border-color: var(--pink-light);

  color: var(--pink-medium);
}

.catalog-content h1 {
  margin: 0;
  margin-bottom: 25px;
}

.catalog-content__products .button--alt {
  display: none;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  line-height: 44px;
}

.pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 59px;

  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.pages ul {
  margin: 0;
  padding-left: 0;
  display: flex;
}

.pages__number {
  width: 26px;
  height: 26px;

  text-align: center;
  cursor: pointer;
}

.pages__number-active {
  border-radius: 50%;
  color: var(--black-medium);
  background-color: var(--white-pure);
}

.pages__number:not(:last-of-type) {
  margin-right: 2px;
}

.pages__number:not(.pages__number-active):hover {
  border-radius: 50%;
  background-color: var(--white-light);
}

.pages__number:not(.pages__number-active):active {
  border-radius: 50%;
  color: var(--black-medium);
  background-color: var(--white-pure);
}

.pages svg:first-of-type {
  margin-right: 16px;
  transform: rotate(180deg);
  color: var(--white-light);
}

.pages svg:last-of-type {
  margin-left: 26px;
  color: var(--white-pure);
}

/* --------- // CATALOG-CONTENT --------- */

/* --------- FOOTER --------- */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
}

.footer-social a {
  display: inline-block;

  margin-right: 4px;
  border: 2px solid var(--white-border-1);
  border-radius: 50%;

  color: var(--white-easy);
}

.footer-social a:hover {
  border: 2px solid var(--white-border-1);

  color: var(--white-pure);
}

.footer-social a:active {
  border: 2px solid var(--white-border-2);

  color: var(--white-pure);
}

.footer-social a:last-of-type {
  margin-right: 0;
}

.footer-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-left: 25px;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  padding-right: 32px;
}

.footer-nav ul:last-child {
  padding-right: 0;
}

.footer-nav li {
  margin-bottom: 5px;
}

.footer-nav li:last-child {
  margin-bottom: 0;
}

.footer-nav .footer-nav__link {
  border-bottom: 1px solid var(--white-light);

  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  color: var(--white-pure);
}

.footer-nav .footer-nav__link:hover {
  border-color: var(--pink-light);

  color: var(--pink-medium);
}

.footer-nav .footer-nav__link:link {
  border-color: var(--pink-light);

  color: var(--pink-medium);
}

.footer-nav__link.heart {
  position: relative;
  font-weight: 700;
}

.heart::before {
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
  content: "";

  width: 15px;
  height: 13px;

  background-image: url(../img/icons/heart.svg);
  background-color: inherit;
  background-repeat: no-repeat;
}

.footer-creator__desc {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-creator__desc a {
  border-bottom: 1px solid var(--white-light);

  color: var(--white-pure);
}

.footer-creator__desc a:hover {
  border-color: var(--pink-light);

  color: var(--pink-medium);
}

/* --------- // FOOTER --------- */

/* --- FEEDBACK-FORM --- */

#feedback-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: var(--dark);
}

#feedback-overlay:target {
  display: block;
}

.feedback__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 477px;
  padding: 20px 25px 27px;
  border-radius: 6px;

  background-color: var(--white-dirty);
}

.feedback__popup form {
  margin: 0;
}

.feedback__popup input {
  font-size: 16px;
  line-height: 44px;
  font-weight: 700;
}

.feedback__popup input::placeholder {
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
}

.feedback__popup input:focus::-moz-placeholder,
.feedback__popup input:focus:-moz-placeholder {
  line-height: 42px;
}

.feedback__popup .button--alt {
  padding: 0 24px;

  line-height: 44px;
}

.feedback__popup .button-cross {
  position: absolute;
  top: 15px;
  right: 15px;
}

textarea {
  width: 100%;
  height: 154px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-dirty);
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  color: var(--black-medium);
}

textarea::placeholder {
  font-weight: 400;
  color: var(--gray-medium);
}

.feedback__popup h2 {
  margin-bottom: 26px;

  line-height: 1.17;
}

.feedback__popup input {
  width: 267px;
  margin-bottom: 20px;
}

/* --- // FEEDBACK-FORM --- */
