:root {
  --basic-white: #ffffff;
  --basic-medium-white: #f8f7f4;
  --basic-light-green: #849d8f;
  --basic-light-gray: #999999;
  --basic-medium-gray: rgba(255, 255, 255, 0.2);
  --basic-light-black: #353535;
  --basic-medium-black: #323232;
  --basic-medium-medium-black: rgba(50, 50, 50, 0.3);
}

/* --- BASE --- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--basic-white);
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  background-color: var(--basic-light-green);
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.17;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;

  color: var(--basic-medium-black);
}

h4 {
  display: inline;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  border-bottom: 2px solid var(--basic-light-black);
}

h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
}

p {
  font-size: 16px;
  line-height: 1.37;
}

hr {
  margin: 0;
  margin-top: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
}

button,
input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  padding: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--basic-white);
  background-color: var(--basic-medium-gray);
}

.button--alt {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgb(255, 30, 0);
}

/* --- // BASE --- */

/* --- HEADER --- */

.header-nav .button,
.header-nav .header-nav__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  color: var(--basic-white);
  background-color: inherit;

  border-bottom: 1px solid var(--basic-medium-gray);
}

.header-nav button:hover,
.header-nav .header-nav__link:hover {
  color: var(--basic-medium-black);
  border: none;
}

.catalog-menu__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--basic-medium-black);
}

input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--basic-light-gray);
}

.entrance-form__row .button--alt {
  line-height: 0.89;
}

.entrance-form__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
  color: var(--basic-medium-black);
  border-bottom: 1px solid var(rgba(50, 50, 50, 0.3));
}

.header-contacts__hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.header-contacts__phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
}

.header-nav__catalog {
  display: inline-block;
}

/* --- // HEADER --- */
s
/* --- ABOUT-SHOP --- */

.index-content__shop-desc {
  display: inline-block;

  border-radius: 16px;

  background-image: url(../img/waffle-bg.png);
}

.shop-desc__block {
  font-weight: 400;

  color: var(--basic-medium-black);
}

/* --- // ABOUT-SHOP --- */

/* --- ADDITIONAL-CONTENT --- */

.index-content__new-item {
  width: 560px;
  height: 220px;
  color: var(--basic-medium-black);
  background-image: url(../img/strawberry-bg.png);
  background-repeat: no-repeat;
}

.index-content__new-item p {
  font-weight: 500;
}

.index-content__new-item a {
  color: inherit;
}

.index-content__subscription {
  width: 560px;
  height: 220px;

  border-radius: 16px;

  font-weight: 400;

  color: var(--basic-medium-black);
  background-color: var(--basic-medium-white);
}

.index-content__subscription .button--alt {
  line-height: 1.33;
}

/* --- // ADDITIONAL-CONTENT --- */

.footer-nav__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
  color: var(--basic-white);

  border-bottom: 1px solid var(--basic-medium-gray);
}

.footer-nav a:first-of-type {
  font-weight: 700;
}

.footer-creator__desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-creator__desc a {
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-medium-gray);
}

/* --- CATALOG-HEADER --- */

.header-path__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--basic-white);
  border-bottom: 1px solid var(--basic-medium-gray);
}

.header-path__link-wrapper,
.header-path h5 {
  display: inline-block;
}

.header-nav__basket {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: var(--basic-medium-black);
}

.header-nav__basket span {
  color: var(--basic-medium-medium-black);
}

.header-nav__basket p {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.07;
}

/* --- // CATALOG-HEADER --- */

/* --- CATALOG-CONTENT --- */

.products__price {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
}

.products__price span {
  font-size: 45px;
  line-height: 1;
}

.products__desc {
  display: inline-block;
  font-weight: 500;
  border-bottom: 1px solid var(--basic-medium-gray);
}

.products__desc a {
  color: var(--basic-white);
}

/* --- // CATALOG-CONTENT --- */

.map-holder__about-office p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.22;
  color: var(--basic-medium-black);
}

.map-holder__about-office span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.14;
}

.hide,
.visually-hidden {
  display: none;
}
